/* темная тема */

body.dark {
    background: linear-gradient(135deg, #000000 0%, #1a1a1a 100%);
}
body.dark h1{
    color: #dbdbdb;
}
/* body.dark .subtitle{
    color: #dbdbdb;
} */
body.dark .container {
    background: #1e1e2e;
    color: #eee;
}

body.dark .input-group label {
    color: #ccc;
}

body.dark input,
body.dark select {
    background: #2d2d3d;
    border-color: #444;
    color: #eee;
}

body.dark input:focus {
    border-color: #848897;
}

body.dark .mode-btn {
    background: #2d2d3d;
    color: #eee;
}

body.dark .mode-btn.active {
    background: #242222;
}

body.dark .result-card {
    background: #2d2d3d;
}

body.dark .detail-card {
    background: #2d2d3d;
}

body.dark .detail-value {
    color: #eee;
}

body.dark .employee-card {
    background: #2d2d3d;
}


body.dark .history-item {
    background: #2d2d3d;
}

body.dark .subtitle,
body.dark .detail-label,
body.dark .history-date {
    color: #aaa;
}
body.dark .calculate-btn{
    width: 100%;
    padding: 14px;
    background: linear-gradient(to bottom, #662500 0%, #411300 100%);
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 20px 0 25px;
    font-family: inherit;
}
body.dark .theme-btn{
    background: #2c2c2c;
}
body.dark .logout-btn{
    background: #2c2c2c;
    color: white;
}